aiodns==1.1.1
aiohttp==3.5.4
aiohttp-socks==0.2.2
alembic==1.0.6
asn1crypto==0.24.0
async-timeout==3.0.1
asyncio==3.4.3
attrs==18.2.0
Automat==0.7.0
Babel==2.6.0
beautifulsoup4
cchardet==2.1.4
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
docopt==0.6.2
elasticsearch==6.3.1
fake-useragent==0.1.11
Flask==1.0.2
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.2
geographiclib==1.49
geopy==1.18.1
google-search==1.0.2
GoogleScraper==0.2.4
goose-extractor==1.0.25
goose3==3.1.6
hyperlink==18.0.0
idna==2.8
idna-ssl==1.1.0
incremental==17.5.0
itsdangerous==1.1.0
jieba==0.39
jieba3k==0.35.1
Jinja2==2.10
lxml==4.3.0
Mako==1.0.7
MarkupSafe==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
multidict==4.5.2
murmurhash==1.0.1
newspaper3k==0.2.8
nltk==3.4
numpy==1.16.0
pandas==0.23.4
parsel==1.5.1
Pillow==5.4.1
plac==0.9.6
preshed==2.0.1
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycares==2.4.0
pycparser==2.19
PyDispatcher==2.0.5
pygal==2.4.0
PyHamcrest==1.9.0
PyMySQL==0.9.3
pyOpenSSL==18.0.0
PySocks==1.6.8
python-dateutil==2.7.5
python-editor==1.0.3
pytz==2018.9
PyYAML==3.13
queuelib==1.5.0
regex==2018.1.10
requests==2.21.0
requests-file==1.4.3
Runner==1.1
schedule==0.5.0
Scrapy==1.5.1
scrapy-selenium==0.0.6
selenium==3.141.0
service-identity==18.1.0
singledispatch==3.4.0.3
six==1.12.0
socialshares==1.1.0
spacy==2.0.18
SQLAlchemy==1.2.16
textblob==0.15.2
thinc==6.12.1
tinysegmenter==0.3
tldextract==2.2.0
toolz==0.9.0
tqdm==4.29.1
Twisted==20.3.0
typing-extensions==3.7.2
ujson==1.35
urllib3==1.24.1
vaderSentiment==3.2.1
w3lib==1.20.0
Werkzeug==0.14.1
wrapt==1.10.11
