{% extends 'index.html' %}

{% block metas %}
    <meta property='og:url' content='https://en.dailypakistan.com.pk/labs/nyt-pakistan-coverage-2018/'/>
    <meta property='og:title' content="118 Articles, 1 Year - An Analysis of New York Times' Coverage of Pakistan"/>
    <meta name='twitter:title' content='118 Articles, 1 Year - An Analysis of New York Times' Coverage of Pakistan'/>
    <meta property='og:description' content='We analyzed 118 articles about Pakistan published in New York Times in 2018, here are the results'/>
    <meta name='twitter:description' content='We analyzed 118 articles about Pakistan published in New York Times in 2018, here are the results'/>
    <meta name='description' content="We analyzed 118 articles about Pakistan published in New York Times in 2018, here are the results"/>
    <link rel="canonical" href="https://en.dailypakistan.com.pk/labs/nyt-pakistan-coverage-2018/"/>
{% endblock %}

{% block header %}
<div class="container-fluid d-flex header">
    <div class="cover">
    <div class="row align-items-center h-100">
        <div class="col-9 mx-auto">
            <h3>118 Articles, 1 Year</h3>
            <h1>An Analysis of New York Times' Coverage of Pakistan</h1><hr>
            <a class="text-white" href="https://en.dailypakistan.com.pk/author/waqas/"><h5><em>&mdash; by Waqas Ahmed</em></h5></a>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="text-content">
    <p>For better of for worse, New York Times is one of the leading newspapers of the world. It is what is called the "agenda-setting media" and has been leading the American public as well as policy discourse for a very long time. However, when it comes to Middle-East, South-Asia, or much of the global south, NYT's coverage seems either lacking in depth or too agenda driven. Apart from arguing with anecdotal evidence or conjecture we have not been able to say much about that. We do not yet have tools at our disposal that can accurately predict media bias - intentional or unintentional - or scientifically prove agenda-driven reporting even with multitude of language processing and machine learning tools available at our disposal today.</p>
    <p>However, there are a few tools at our disposal that can give us some quantitative data related to any given text. While methods and tools used here may not be 100% accurate, the do give us some idea about the texts analyzed.</p>
    <p>For current analysis, we only used NYT articles related to Pakistan. NYT publishes dozens of articles daily, so to narrow down to only relevant articles we chose the ones that contained the word "Pakistan" in the headline and were published between 1st January 2018 and 31st December 2018.</p>
    <p>In 2018 there were 118 articles on NYT that contained the word 'Pakistan' in the headline, excluding non-text audio or video based content that we could not analyze.</p>
    <h2>Sentiment Analysis</h2>
    <p>Sentiment Analysis is quantitatively identifying and categorizing opinions expressed in a piece of text, especially in order to determine whether the writer's attitude towards a particular topic, product, etc. is positive, negative, or neutral. A negative (-ve) score means a negative attitude, positive score (+ve) denotes a positive attitude. Sentiment analysis scores vary from -1 to +1, -1 being the most negative and +1 being the most positive.</p>
    <p>For sentiment analysis we used VADER (Valence Aware Dictionary and sEntiment Reasoner) [<a href="https://github.com/cjhutto/vaderSentiment">link</a>]. VADER has been tested on social media texts as well as New York Times editorials, hence most relevant tool for our analysis. We ran a sentiment analysis on each sentence contained within the articles.</p>
    <p>Since each sentence had a different sentiment score, we took the mean sentiment score of all sentences to calculate the overall sentiment of an article.</p>
    <p>The results of sentiment analysis of all 118 articles under discussion is shown in the chart below.</p>
</div>
<div id="chart1" class="" style="height: 800px; min-width: 310px; max-width: 1200px; width:100%; margin: 0 auto"></div>
<div class="text-content">
    <p>We can see that out of the 118 articles, most of the articles have a negative sentiment and the chart is heavily skewed towards the left. Hence, we can say with some confidence that overall sentiment of NYT's Pakistan coverage has been negative.</p>
    <h2>Objectivity Analysis</h2>
    <p>One can argue that if most of the events in Pakistan in 2018 have been negative, NYT cannot give a positive spin to those just to give a positive sentiment. This is a valid argument if we only consider sentiment score, so we also need to check if the articles have been significantly objective.</p>
    <p>To check the objectivity of given articles, we used another textual data processing tool called <a href="https://textblob.readthedocs.io/en/dev/">TextBlob</a>. TextBlob provides Subjectivity scores for each given sentence. Just like sentiment analysis, we ran subjectivity analysis on each sentence of every article. The total subjectivity score for an article was calculated by taking mean subjectivity scores of all sentences in that article. Subjectivity score range between 0 to 1, 0 being the most objective and 1 being completely subjective.</p>
    <p>In the below chart we have plotted each article on x-axis according to its sentiment score and on y-axis according to the subjectivity score.</p>
</div>
<div id="chart3" class="" style="height: 600px; min-width: 310px; max-width: 1200px; width:100%; margin: 0 auto"></div>
<div class="text-content">
    <p>Subjectivity scores above 0.25 being considered somewhat subjective, we can see in the chart above that most of the articles analyzed have been rated subjective.</p>
    <p>The same chart is given below with an added dimension of impact of the stories in terms of traction on social media, calculated in terms of the number of tweets and retweets.</p>
</div>
<div id="chart2" class="" style="height: 600px; min-width: 310px; max-width: 1200px; width:100%; margin: 0 auto"></div>
<div class="text-content">
    <p>We can see that most impactful stories by NYT have been somewhat subjective and that majority of them lie on the negative side of sentiment scores.</p>
</div>
<div class="text-content">
    <h2>Topics Covered</h2>
    <p>In terms of topics covered, NYT's coverage of Pakistan in 2018 has not been very diverse and has focused on the usual stories about politics and terrorism, the classic American lens to view Pakistan through.</p>
</div>
<div id="tags" style="height: auto; min-width: 310px; max-width: 1200px; width:100%; margin: 0 auto"></div>
<div class="text-content">
    <p>In above chart we can see that most of the keywords that got the highest number of mentions in all the stories under discussion have been "Khan" and "Sharif", reciving 334 and 244 mentions respectively, the full name "Nawaz Sharif" was mentioned 58 times and "Imran Khan" 57 times. China was mentioned 150 times and Taliban 115 times. Similarly, the rest of keywords can tell us a story about the topics covered by NYT in the past year that include Aasiya Bibi, Belt and Road, CPEC, Afghanistan among others.</p>
</div>
<div class="text-content">
    <h2>Final Scores</h2>
    <p>The average score for all articles can give us an overall picture of New York Times converage of Pakistan in the past year. The overall sentiment score for all articles is <b>-0.0876</b>, showing that most of NYT's coverage about the country has been negative. Coupled with a subjectivity score of <b>0.2866</b> we can conclude that not only has it been negative but has also been highly subjective.</p>
    <p>NYT got <b>53,559</b> retweets for all articles, along with <b>99,572</b> likes and <b>11,068</b> replies to the tweets, showing that NYT generated a lot of interest and debate on articles that remained largely subjective and negative.</p>
</div>
<br>
<h4><em>Explore more in this article:</em></h4>
<div class="row">
    <div class="card-group">  
        <a href="{{url_for('stories')}}" class="card text-white bg-dark mb-3">
          <div class="card-header">Explore</div>
          <div class="card-body">
            <h5 class="card-title">Stories</h5>
            <p class="card-text">List of all stories about Pakistan in NYT with individual sentiment scores, subjectivity scores, all related tweets and more...</p>
          </div>
        </a>

        <a href="{{url_for('authors')}}" class="card text-white bg-secondary mb-3">
          <div class="card-header">Explore</div>
          <div class="card-body">
            <h5 class="card-title">Authors</h5>
            <p class="card-text">List of all authors in NYT who have written about Pakistan with author analysis and impact.</p>
          </div>
        </a>

        <a href="{{url_for('search')}}" class="card text-dark bg-light mb-3">
          <div class="card-header">Search</div>
          <div class="card-body">
            <h5 class="card-title">All Stories</h5>
            <p class="card-text">Search the full-text of all stories done by NYT about Pakistan in 2018, find stories that contain interesting keywords.</p>
          </div>
        </a>
    </div>
</div>
<div class="text-content">
    <p class="text-muted"><em><small>Disclaimer: All data has been analyzed using 3rd party libraries and may contain inaccuracies. Opinions expressed by the author do not represent the opinions of the publication.</small></em></p>
</div>
<div class="text-content">
    <h5>Comment</h5>
    <div class="fb-comments" data-href="https://en.dailypakistan.com.pk/labs/nyt-pakistan-coverage-2018/" data-width="100%" data-numposts="5"></div>
</div>


{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
        $(".header").css("height", h-100);
    });


// Story categories
var categories = [
        {% for story in stories %}
            '{{loop.index+1}}',
        {% endfor %}
];

Highcharts.chart('chart1', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Sentiment scores for NYT aricles about Pakistan'
    },
    xAxis: [{
        title: {
          enabled: true,
          text: 'Stories'
        },
        reversed: false,
        labels: {
            enabled: false
        },
    }
    ],
    yAxis: {
        title: {
            text: "Sentiment"
        },
        labels: {
            formatter: function () {
                return this.value;
            }
        }
    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },

    tooltip: {
        formatter: function () {
            return '<b>' + this.point.title + '</b><br/>' +
                'Sentiment: ' + Highcharts.numberFormat((this.point.y));
        }
    },

    series: [{
        name: 'Stories',
        data: [
            {% for story in stories %}
                { y: {{story.sentiment}}, title: "{{story.title}}" },
            {% endfor %}
        ]
    }]
});

Highcharts.chart('chart3', {
  chart: {
    type: 'scatter',
    zoomType: 'xy'
  },
  title: {
    text: 'Sentiment vs Subjectivity of NYT Articles'
  },
  xAxis: {
    title: {
      enabled: true,
      text: 'Sentiment Score'
    },
    gridLineWidth: 1,
    startOnTick: true,
    endOnTick: true,
    showLastLabel: true,
    plotLines: [{
        color: 'black',
        dashStyle: 'dot',
        width: 2,
        value: 0,
        label: {
            rotation: 0,
            y: 15,
            style: {
                fontStyle: 'italic'
            },
            text: 'Neutral Sentiment'
        },
        zIndex: 3
    }]
  },
  yAxis: {
    title: {
      text: 'Weight (kg)'
    },
    startOnTick: false,
    endOnTick: false,
    title: {
        text: 'Subjectivity Score'
    },
    labels: {
        format: '{value}'
    },
    maxPadding: 0.2,
    plotLines: [{
        color: 'black',
        dashStyle: 'dot',
        width: 2,
        value: 0.25,
        label: {
            align: 'right',
            style: {
                fontStyle: 'italic'
            },
            text: 'Subjectivity Score 0.25',
            x: -10
        },
        zIndex: 3
    }]
  },
  legend: {
    enabled: false
  },
  plotOptions: {
    scatter: {
      marker: {
        radius: 5,
        states: {
          hover: {
            enabled: true,
            lineColor: 'rgb(100,100,100)'
          }
        }
      },
      states: {
        hover: {
          marker: {
            enabled: false
          }
        }
      },
      tooltip: {
        useHTML: true,
        pointFormat: '<b>{point.title}</b><br>' +
            'Subjectivity: <b>{point.y}</b><br>' +
            'Sentiment: <b>{point.x}</b><br>',
        followPointer: true
      }
    }
  },
  series: [{
    color: 'rgba(119, 152, 191, .7)',
    data: [
    {% for story in stories %}
        { x: {{story.sentiment}}, y: {{story.subjectivity}}, title: "{{story.title}}" },
    {% endfor %}
    ]
  }]
});

Highcharts.chart('chart2', {
    chart: {
        type: 'bubble',
        plotBorderWidth: 1,
        zoomType: 'xy'
    },

    legend: {
        enabled: false
    },

    title: {
        text: 'Sentiment vs Subjectivity of NYT Articles'
    },

    // subtitle: {
    //     text: 'Source: <a href="http://www.euromonitor.com/">Euromonitor</a> and <a href="https://data.oecd.org/">OECD</a>'
    // },

    xAxis: {
        gridLineWidth: 1,
        title: {
            text: 'Sentiment Score'
        },
        labels: {
            format: '{value}'
        },
        plotLines: [{
            color: 'black',
            dashStyle: 'dot',
            width: 2,
            value: 0,
            label: {
                rotation: 0,
                y: 15,
                style: {
                    fontStyle: 'italic'
                },
                text: 'Neutrality'
            },
            zIndex: 3
        }]
    },

    yAxis: {
        startOnTick: false,
        endOnTick: false,
        title: {
            text: 'Subjectivity Score'
        },
        labels: {
            format: '{value}'
        },
        maxPadding: 0.2,
        plotLines: [{
            color: 'black',
            dashStyle: 'dot',
            width: 2,
            value: 0.25,
            label: {
                align: 'right',
                style: {
                    fontStyle: 'italic'
                },
                text: 'Subjectivity Score 0.25',
                x: -10
            },
            zIndex: 3
        }]
    },

    tooltip: {
        useHTML: true,
        headerFormat: '<table>',
        pointFormat: '<tr><th colspan="2"><h5>{point.title}</h5></th></tr>' +
            '<tr><th>Subjectivity:</th><td>{point.y}</td></tr>' +
            '<tr><th>Sentiment:</th><td>{point.x}</td></tr>' +
            '<tr><th>Tweets:</th><td>{point.z}</td></tr>',
        footerFormat: '</table>',
        followPointer: true
    },

    plotOptions: {
        series: {
            dataLabels: {
                enabled: false,
                format: '{point.name}'
            }
        }
    },

    series: [{
        data: [
            {% for story in stories %}
            { x: {{story.sentiment}}, y: {{story.subjectivity}}, z: {{ story.tweets | sum(attribute='retweets') }}, title: "{{story.title}}" },
            {% endfor %}
        ]
    }]
});

Highcharts.chart('tags', {
  chart: {
    type: 'packedbubble',
    height: screen.height-100
  },
  title: {
    text: 'Mention of Various Topics in NYT'
  },
  tooltip: {
    useHTML: true,
    pointFormat: '<b>{point.name}:</b> {point.y} mentions'
  },
  legend: {
        enabled: false
  },
  plotOptions: {
    packedbubble: {
      dataLabels: {
        enabled: true,
        format: '{point.name}',
        filter: {
          property: 'y',
          operator: '>',
          value: 0
        },
        style: {
          color: 'black',
          textOutline: 'none',
          fontWeight: 'normal'
        }
      },
      minPointSize: 5
    }
  },
  series: [{
    name: 'Topics covered',
    data: [
    {% for x, v in tagcounter %}
            {% if v > 10 %}

            {
              name: "{{x}}",
              value: {{v}}
            },
            {% endif %}
    {% endfor %}
  ]}],
  responsive: {
    rules: [{
      condition: {
        maxWidth: 500
      },
      chartOptions: {
        legend: {
          align: 'right',
          verticalAlign: 'middle',
          layout: 'vertical'
        }
      }
    }]
  }
});


</script>
{% endblock %}