{% extends 'index.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm" action="{{url_for('search')}}" method="POST">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search"></i>
                </div>
                <!--end of col-->
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless awesomplete" name="search" type="search" list="mylist" placeholder="Search topics or keywords">
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit">Search</button>
                </div>
                <!--end of col-->
            </div>
        </form>
    </div>
    <!--end of col-->
</div>


<datalist id="mylist">
    {% for word in words %}
    <option>{{word}}</option>
    {% endfor %}
</datalist>

{% if searchterm %}
<br><h2 class="text-center">Search Results for '{{searchterm}}'</h2>
<hr>
<div class="results" style="min-height:600px;">
    {% for story in stories %}
        {% if story.id in results %}
            <h5><a href="{{url_for('story', id=story.id)}}" >{{story.title}}</a></h5> <a href="{{story.url}}">Story <i class="fas fa-external-link-square-alt"></i></a>
            by {% for author in story.authors %} 
            {{author.name}} {%if story.authors|length > 1 and loop.index < story.authors|length%}and{%endif%} 
            {% endfor %} on {{story.pub_date|datetime}}
            <hr>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}